---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import 'https://fonts.googleapis.com/css?family=Space+Mono:400,700,700i';

html {
  font-size: calc(0.5rem + 2vw);
}

body, html {
  font-family: 'Space Mono', ipm, Menlo, 'Courier New', monospace;
  background-color: #f0f0e6;
  color: #f04e45;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.intro-text {
  border: 10px solid #eca6ca;
  border-radius: 0.25rem;
  height: 100vh;
  p {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 20rem;
    transform: translate(-50%,-50%);
  }
}


.intro {
  position: relative;
  height: 100vh;
  overflow: hidden;
  &__logo {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
  }
}

.logo {
  .font {
    fill:#f04e45;
  }
  .elastiq {
    fill: none;
    stroke: #eca6ca;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width:11.4;
  }
}

.l-max {
  max-width: 30rem;
  margin: 0 auto;
}

